@charset "utf-8";

body{
    text-align: left;
}

table{
    background-color: rgb(232, 232, 232);
}

figcaption{
    font-size:80%;
    text-align:top;
}

#paraibasi{
    font-size:60%;
}

.bordernone{
    border:none;
}

.chkbox{
	width:			24px;
	height:			24px;
	-moz-transform:		scale(1.4);
	-webkit-transform:	scale(1.4);
	transform:		scale(1.4);
}

.radius-table{
    border-radius: 10px;
    border-spacing: 0;
    border: none;
    border-left: 0px solid #999;
    border-top: 0px solid #999;
}
.radius-table tr>*{
    padding: 1px 1px;
    border: none;
    border-right: 0px solid #999;
    border-bottom: 0px solid #999;
}
.radius-table tr:first-child>*:first-child{
    border-radius: 10px 0 0 0;
}
.radius-table tr:first-child>*:last-child{
    border-radius: 0 10px 0 0;
}
.radius-table tr:last-child>*:first-child{
    border-radius: 0 0 0 10px;
}
.radius-table tr:last-child>*:last-child{
    border-radius: 0 0 10px 0;
}