@charset "utf-8";

body{
    text-align: center;
}

#Qtable{
    font-size: 20px;
    text-align:center;
       width: 100%;
  border-collapse: collapse;
}

#Qtable th, #Qtable td {
  border: 1px solid #000;
  padding: 8px;
  text-align: center;
}