@charset "utf-8";

body{
    color: blue;
    background-color: lightcyan;
    /* background: linear-gradient(315deg, green, lightgreen,white); */
    background: radial-gradient(circle at top, white 0%, lightgreen 70%, lightblue 100%);
    background-image: url(images/haike.png);
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
}

h1{
    color: red;
    background-color: yellow;
    text-align: center;
}

h2{
    margin: 2em 0;
}

p{
    font-size: 150%;
    line-height:2;
    padding: 0.4em 0;
}

.red{
    color: red;
}

.backblue{
    background-color: lightblue;
}

.ppap{
    text-align: center;
    font-size: 2em;
    padding: 2em 0;
    background: yellow;
}

a:active{
    color: red;
}

label:hover{
    color: yellow;
}

.hello:hover{
    color: white;
    font-size: 200%;
    margin: 2em, 0;
}